<!DOCTYPE html>
<html lang="en" >
    <head>
        <title>Campus Hours</title>

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="description" content="">
        <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no" />

        <link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Roboto:400,500,700,400italic'>
        <link rel="stylesheet" href="../node_modules/angular-material/angular-material.css"/>

        <script>
        var somethingActive = false;
        var now = new Date();
        var time = now.getTime() / 1000;  // time now in milliseconds
        var timeInSeconds;
        var ticker;
        var status;
        var ind;
        var prevInd = -1;
        var showRetail = true;

        var dayStr;
        var openingHour;
        var closingHour;
        var closingMinute;
        var currentHour;
        var currentMinute;
        var hoursRemaining;
        var minutesRemaining;
        var currentSecond;

        var lastKnownIndex = 0;
        var lastKnownCategory = " ";

        var ind;
        var category;
        </script>
        <link rel="stylesheet" href="assets/app.css"/>

        <style type="text/css">
            /**
            * Hide when Angular is not yet loaded and initialized
            */
            [ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
                display: none !important;
            }
        </style>

    </head>

    <body ng-app="starterApp" layout="column" ng-controller="LocationController as ul" ng-cloak>
    <div appheader></div>

    <div flex layout="row" ng-init="showRetail=true">
        <md-sidenav md-component-id="left"  ng-click="ul.toggleList()" md-is-locked-open="$mdMedia('gt-sm')">
            <h1>Category</h1>
            <hr style="width: 100%;">
            <md-list>
                <md-list-item>
                    <md-button ng-click="showRetail=true; showDining=false; showAcademic=false; showRec=false" ng-class="{'current' : showRetail}">
                        <img class = "navIcon" src = "retail.png" />
                        Retail
                    </md-button>
                </md-list-item>
                <md-list-item>
                    <md-button ng-click="showDining=true; showRetail=false; showAcademic=false; showRec=false" ng-class="{'current' : showDining}">
                        <img class = "navIcon" src = "dining.png" />
                        Dining
                    </md-button>
                </md-list-item>
                <md-list-item>
                    <md-button ng-click="showAcademic=true; showRetail=false; showDining=false; showRec=false" ng-class="{'current' : showAcademic}">
                        <img class = "navIcon" src = "Academic.png" />
                        Academic
                    </md-button>
                </md-list-item>
                <md-list-item>
                    <md-button ng-click="showRec=true; showRetail=false; showDining=false; showAcademic=false" ng-class="{'current' : showRec}">
                        <img class = "navIcon" src = "rec.png" />
                        Rec Center
                    </md-button>
                </md-list-item>
            </md-list>

        </md-sidenav>


        <md-content flex >

            <md-list ng-show="showRetail">
                <h1 class="subtitle">
                <img class = "icon" src = "retail.png" />
                    Retail Hours
                </h1>
                <hr>
                <md-list-item ng-repeat="it in ul.location | filter: { category: 'Retail' } as T" >
                    <md-button id="button-{{$index}}" id='{{it.abbreviation}}' ng-click="ul.startTimer(it, $index, T.length, 'Retail'); ul.selectLocation(it)" ng-class="{'selected' : it === ul.selected }">
                        <strong>{{it.name}}</strong>
                        <p id="timeleftRetail-{{$index}}"> </p>
                    </md-button>
                </md-list-item>
            </md-list>
            <md-list ng-show="showDining">
                <h1 class="subtitle">
                <img class = "icon" src = "dining.png" />
                    Dining Hours
                </h1>
                <hr>
                <md-list-item ng-repeat="iu in ul.location | filter: { category: 'Dining' } as U" >
                    <md-button id='{{iu.abbreviation}}' ng-click="ul.startTimer(iu, $index, U.length, 'Dining'); ul.selectLocation(iu)" ng-class="{'selected' : iu === ul.selected }">
                        <strong>{{iu.name}}</strong>
                        <p id="timeleftDining-{{$index}}"> </p>
                    </md-button>
                </md-list-item>
            </md-list>
           <md-list ng-show="showAcademic">
                <h1 class="subtitle">
                <img class = "icon" src = "academic.png" />
                    Academic Hours
                </h1>
                <hr>
                <md-list-item ng-repeat="iv in ul.location | filter: { category: 'Academic' } as V" >
                    <md-button id='{{iv.abbreviation}}' ng-click="ul.startTimer(iv, $index, V.length, 'Academic'); ul.selectLocation(iv)" ng-class="{'selected' : iv === ul.selected }">
                        <strong>{{iv.name}}</strong>
                        <p id="timeleftAcademic-{{$index}}"> </p>
                    </md-button>
                </md-list-item>
            </md-list>
           <md-list ng-show="showRec">
               <h1 class="subtitle">
               <img class = "icon" src = "rec.png" />
                   Rec Center Hours
               </h1>
                <hr>
                <md-list-item ng-repeat="iw in ul.location | filter: { category: 'Rec' } as W" >
                    <md-button id='{{iw.abbreviation}}' ng-click="ul.startTimer(iw, $index, W.length, 'Rec'); ul.selectLocation(iw)" ng-class="{'selected' : iw === ul.selected }">
                        <strong>{{iw.name}}</strong>
                        <p id="timeleftRec-{{$index}}"> </p>
                    </md-button>
                </md-list-item>
            </md-list>
        </md-content>
    </div>

    <script src="../node_modules/angular/angular.js"></script>
    <script src="../node_modules/angular-animate/angular-animate.js"></script>
    <script src="../node_modules/angular-aria/angular-aria.js"></script>
    <script type="text/javascript" src="../node_modules/angular-material/angular-material.js"></script>

    <script src="./src/static/Location.js"></script>
    <script src="./src/static/LocationController.js"></script>
    <script src="./src/static/LocationService.js"></script>
    <script src="./src/static/ThemeController.js"></script>

    </body>
</html>
