<!DOCTYPE html>
<html lang="en" >
    <head>
        <title>Campus Hours</title>

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="description" content="">
        <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no" />

        <link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Roboto:400,500,700,400italic'>
        <link rel="stylesheet" href="../node_modules/angular-material/angular-material.css"/>

        <script>
        var somethingActive = false;
        var now = new Date();
        var time = now.getTime() / 1000;  // time now in milliseconds
        var timeInSeconds;
        var ticker;
        var status;
        var ind;
        var prevInd = -1;
        var showRetail = true;

        var dayStr;
        var openingHour;
        var closingHour;
        var closingMinute;
        var currentHour;
        var currentMinute;
        var hoursRemaining;
        var minutesRemaining;
        var currentSecond;

        var ind;
        var category;
        </script>
        <link rel="stylesheet" href="assets/app.css"/>

        <style type="text/css">
            /**
            * Hide when Angular is not yet loaded and initialized
            */
            [ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
                display: none !important;
            }
        </style>

    </head>

    <body ng-app="starterApp" layout="column" ng-controller="LocationController as ul" ng-cloak>
    <div appheader></div>
    <md-toolbar layout="row">
        <md-button class="menu" hide-gt-sm ng-click="ul.toggleList()" aria-label="Show Location List">
            <md-icon md-svg-icon="menu" ></md-icon>
        </md-button>
        <h1>WWU Hours</h1>
    </md-toolbar>

    <div flex layout="row" ng-init="showRetail=true">
        <md-sidenav md-component-id="left"  ng-click="ul.toggleList()" md-is-locked-open="$mdMedia('gt-sm')">
            <md-list>
                <md-list-item>
                    <md-button ng-click="showRetail=true; showDining=false; showAcademic=false; showRec=false">Retail</md-button>
                </md-list-item>
                <md-list-item>
                    <md-button ng-click="showDining=true; showRetail=false; showAcademic=false; showRec=false">Dining</md-button>
                </md-list-item>
                <md-list-item>
                    <md-button ng-click="showAcademic=true; showRetail=false; showDining=false; showRec=false">Academic</md-button>
                </md-list-item>
                <md-list-item>
                    <md-button ng-click="showRec=true; showRetail=false; showDining=false; showAcademic=false">Rec Center</md-button>
                </md-list-item>
            </md-list>

        </md-sidenav>

        <md-content flex >
            <md-list ng-show="showRetail">
                <md-list-item ng-repeat="it in ul.location | filter: { category: 'Retail' } as T" >
                    <md-button id='{{it.abbreviation}}' ng-click="ul.startTimer(it, $index, T.length, 'Retail'); ul.selectLocation(it)" ng-class="{'selected' : it === ul.selected }">
                        <strong>{{it.name}}</strong>
                        <p id="timeleftRetail-{{$index}}"> </p>
                    </md-button>
                </md-list-item>
            </md-list>
            <md-list ng-show="showDining">
                <md-list-item ng-repeat="iu in ul.location | filter: { category: 'Dining' } as U" >
                    <md-button id='{{iu.abbreviation}}' ng-click="ul.startTimer(iu, $index, U.length, 'Dining'); ul.selectLocation(iu)" ng-class="{'selected' : iu === ul.selected }">
                        <strong>{{iu.name}}</strong>
                        <p id="timeleftDining-{{$index}}"> </p>
                    </md-button>
                </md-list-item>
            </md-list>
           <md-list ng-show="showAcademic">
                <md-list-item ng-repeat="iv in ul.location | filter: { category: 'Academic' } as V" >
                    <md-button id='{{iv.abbreviation}}' ng-click="ul.startTimer(iv, $index, V.length, 'Academic'); ul.selectLocation(iv)" ng-class="{'selected' : iv === ul.selected }">
                        <strong>{{iv.name}}</strong>
                        <p id="timeleftAcademic-{{$index}}"> </p>
                    </md-button>
                </md-list-item>
            </md-list>
           <md-list ng-show="showRec">
                <md-list-item ng-repeat="iw in ul.location | filter: { category: 'Rec' } as W" >
                    <md-button id='{{iw.abbreviation}}' ng-click="ul.startTimer(iw, $index, W.length, 'Rec'); ul.selectLocation(iw)" ng-class="{'selected' : iw === ul.selected }">
                        <strong>{{iw.name}}</strong>
                        <p id="timeleftRec-{{$index}}"> </p>
                    </md-button>
                </md-list-item>
            </md-list>
        </md-content>
    </div>

    <script src="../node_modules/angular/angular.js"></script>
    <script src="../node_modules/angular-animate/angular-animate.js"></script>
    <script src="../node_modules/angular-aria/angular-aria.js"></script>
    <script type="text/javascript" src="../node_modules/angular-material/angular-material.js"></script>

    <script src="./src/static/Location.js"></script>
    <script src="./src/static/LocationController.js"></script>
    <script src="./src/static/LocationService.js"></script>

    <script type="text/javascript">

          angular
              .module('starterApp', ['ngMaterial', 'static'])
              .config(function($mdThemingProvider, $mdIconProvider){

                  $mdIconProvider
                      .defaultIconSet("./assets/svg/avatars.svg", 128)
                      .icon("menu"       , "./assets/svg/menu.svg"        , 24)
                      .icon("share"      , "./assets/svg/share.svg"       , 24)
                      .icon("google_plus", "./assets/svg/google_plus.svg" , 512)
                      .icon("hangouts"   , "./assets/svg/hangouts.svg"    , 512)
                      .icon("twitter"    , "./assets/svg/twitter.svg"     , 512)
                      .icon("phone"      , "./assets/svg/phone.svg"       , 512);

                        var customPrimary = {
                            '50': '#077bff',
                            '100': '#006fed',
                            '200': '#0063d3',
                            '300': '#0057ba',
                            '400': '#004ba0',
                            '500': '#003F87',
                            '600': '#00336d',
                            '700': '#002754',
                            '800': '#001b3a',
                            '900': '#000f21',
                            'A100': '#2189ff',
                            'A200': '#3a96ff',
                            'A400': '#54a4ff',
                            'A700': '#000307'
                        };
                        $mdThemingProvider
                            .definePalette('customPrimary',
                                            customPrimary);

                        var customAccent = {
                            '50': '#00253d',
                            '100': '#003556',
                            '200': '#004570',
                            '300': '#005489',
                            '400': '#0064a3',
                            '500': '#0073bc',
                            '600': '#0093ef',
                            '700': '#0aa0ff',
                            '800': '#23aaff',
                            '900': '#3db4ff',
                            'A100': '#0093ef',
                            'A200': '#0083D6',
                            'A400': '#0073bc',
                            'A700': '#56beff'
                        };
                        $mdThemingProvider
                            .definePalette('customAccent',
                                            customAccent);

                        var customWarn = {
                            '50': '#e79293',
                            '100': '#e27d7f',
                            '200': '#de686a',
                            '300': '#d95355',
                            '400': '#d43e41',
                            '500': '#CC2D30',
                            '600': '#b7282b',
                            '700': '#a22426',
                            '800': '#8d1f21',
                            '900': '#781b1c',
                            'A100': '#eba7a8',
                            'A200': '#f0bbbc',
                            'A400': '#f5d0d1',
                            'A700': '#641617'
                        };
                        $mdThemingProvider
                            .definePalette('customWarn',
                                            customWarn);

                        var customBackground = {
                            '50': '#737373',
                            '100': '#666666',
                            '200': '#595959',
                            '300': '#4d4d4d',
                            '400': '#404040',
                            '500': '#333',
                            '600': '#262626',
                            '700': '#1a1a1a',
                            '800': '#0d0d0d',
                            '900': '#000000',
                            'A100': '#808080',
                            'A200': '#8c8c8c',
                            'A400': '#999999',
                            'A700': '#000000'
                        };
                        $mdThemingProvider
                            .definePalette('customBackground',
                                            customBackground);

                      $mdThemingProvider.theme('default')
                          .primaryPalette('customPrimary')
                          .accentPalette('customAccent');
              });

    </script>

    </body>
</html>
